.App {
  text-align: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.page-header {
  background-color: #A9A9A9;
  font-size: 32px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.create-participant-form {
  margin: 96px 32px 8px 32px;
}

.create-participant-form > div{
  display: inline-flex;
  width: 912px;
  padding: 16px 0 16px 0;
  background-color: #ffffff;
 }

.create-participant-form > h1 {
  color: #757575;
}

.create-participant-form > div > input {
  margin-left: 16px;
  height: 40px;
  font-size: 16px;
}

.create-participant-form > div > button {
  font-size: 14px;
  border: none;
  margin-left: 16px;
  font-weight: 500;
}

.error {
  color: red;
  width: 896px;
  background: white;
  display: inline-flex;
  padding: 0 0 16px 24px;
}

.page-container {
  background-color: #D3D3D3;
  padding: 0px;
  padding-bottom: 96px;
}

.participations-table {
  width: 912px;
  margin-left: 32px;
  background-color: #ffffff;
}

.ReactTable .rt-tbody .rt-tr-group, .ReactTable .rt-tbody .rt-td {
  height: 72px;
  padding: 0px;
}

.ReactTable .rt-thead.-header, .ReactTable .rt-thead .rt-th {
  height: 48px;
  padding: 0px;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer {
  padding: 0px;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  margin: 17px auto 17px 24px;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: none;
  /*TODO add arrow*/
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: none;
}